.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 7%;
    border-radius: 3px;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0 ,0, 0.5);
    position: fixed;
    top: 7px;
    left: 0;
    width: 151px;
    z-index: 200;
    transform: translateY(-121%);
    transition: transform 0.3s ease-out;

    ul {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    li {
        margin: 0.5rem 0;
    }
    
    a {
        color: purple;
        text-decoration: none;
    }

    a:hover, a:active {
        color: orange;
    }
}


.side-panel.open {
    transform: translateX(0);
}

@media (min-width: 769px) {
   
}
