.container {
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  left: 24%;
  top: 142px;
  position: absolute;
}

.form-row {
    &__cancel-btn {
        text-decoration: none;
        color: black;
        font-weight: 200;
        font-size: 14px;

        &:hover {
            color: gray;
          }
    }
  
    &__title {
      margin-bottom: 4px;
      font-weight: 200;
    }
  
    &__content {
      display: flex;
      margin-top: 2px;
      margin-bottom: 27px;
    }
  
    &__content-left {
      width: 45rem;
      padding-right: 49px;
    }
  
    &__content-right {
      width: 100%;
      font-size: 14px;
      font-weight: 100;
    }
  
  }

.panel-logo {
    .fa {
      left: 26%;
      top: 81px;
      position: absolute;
      font-size: 50px;
      color: red;
    }
    
    span {
      color: black;
        font-size: 34px;
    }  
  }
  
  input[type=text] {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  
    &:focus {
      border-color: #7dc9e2;
      outline-color: #dceefc;
      outline-offset: 0; 
    }
  }

  select {
    width: 109%;
    height: 35px;
    color: #404040;
    background: white;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  
    &:focus {
      border-color: #7dc9e2;
      outline-color: #dceefc;
      outline-offset: 0; 
    }
  }
  
  textarea {
    width: 100%;
    height: 100px;
    font-size: 14px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px; 
    box-shadow: (inset 0 1px 3px rgba(black, .12));
  
    &:focus {
      border-color: #7dc9e2;
      outline-color: #dceefc;
      outline-offset: 0; 
    }
  }
  
  input[type=submit] {
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    color: #527881;
    background: #cde5ef;
    border-radius: 16px;
    cursor: pointer;
    box-sizing: content-box;
    margin-right: 15px;
  
    &:active {
      background: #cde5ef;
      border-color: #9eb9c2 #b3c0c8 #b4ccce;
      box-shadow: (inset 0 0 3px rgba(black, .2));
    }
  }
  
  input[type=submit]:hover {
    border-color: #aaa #aaa #aaa;
  }

  .cancel-button {
    background: white;
  }

  .dropdown-select {
    font-size: 14px;
  }

  /* Responsive layout - when the screen is mobile wide, make the two columns stack on top of each other instead of next to each other */
  // mobile screen
  @media (max-width: 768px) {
    
    .form-row {
  
      &__title {
        margin-bottom: 4px;
        font-weight: 200;
      }
    
      &__content {
        display: flex;
        margin-top: 2px;
        margin-bottom: 27px;
      }
    
      &__content-left {
        width: 90%;
        padding-right: 0;
      }
    
      &__content-right {
        display: none;
      }
    }
  
  }