$toolbar-bg-color: purple;
$color-white: white;

.toolbar {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: $toolbar-bg-color;
    height: 56px;
    z-index: 5;

    &__navigation {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 1rem;
    }

    &__logo {
        margin-left: 1rem;
    }
    
    &__logo a{
        color: $color-white;
        text-decoration: none;
        font-size: 1.5rem;
    }

    &__navigation-items ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    &__navigation-items li {
        padding: 0 0.5rem;
    }

    &__navigation-items a {
        color: $color-white;
        text-decoration: none;
    }

    &__navigation-items a:hover, 
    &__navigation-items a:active {
        color: orange;
    }
}

.spacer {
    flex: 1;
}

// mobile screen
@media (max-width: 768px) {
    
}

// desktop screen
@media (max-width: 769px) {
    .toolbar {
        &__toggle-button{
            display: none;
        }

        &__logo {
            margin: 0;
            
            a {
                font-size: .9rem;
            }
        }
    }
}