/* Style the accordion section */
.accordion__section {
    display: flex;
    flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;

    /* Style the accordion content title */
    &__title {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 12px;

        img {
            width: 25px;
        }
    }

    /* Style the accordion content panel. Note: hidden by default */
    &__content {
        background-color: white;
        overflow: hidden;
        transition: max-height 0.6s ease;
    }

    /* Style the accordion content text */
    &__text {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        padding: 18px;

        img {
            width: 60px;
        }
    }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
    background-color: #ccc;
}

/* Responsive layout - when the screen is mobile wide, make the two columns stack on top of each other instead of next to each other */
  // mobile screen
@media (max-width: 768px) {
    .accordion {
        &__title{
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 12px;
            width: 84px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
