.container {
    background-color: #f2f2f2;
    padding: 20px;
    width: 71%;
    left: 15%;
    top: 153px;
    position: absolute;
}

.filterBox {
    padding: 15px;
    width: 72%;
    left: 14%;
    top: 68px;
    position: absolute;
}

.alignRight {
    display: flex;
    height: 0;
    justify-content: flex-end;

    &__circle {
        display: flex;
        width: 16px;
        height: 16px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        background-color: orange;
        cursor: pointer;
        z-index: 1;
        opacity: .7;

        :hover {
            color: red;
        }
    }

    &__text-white {
        color: white;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 40%;
    top: 30%;
    z-index: 7;
  }

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Responsive layout - when the screen is mobile wide, make the two columns stack on top of each other instead of next to each other */
  // mobile screen
  @media (max-width: 768px) {
    .container { 
        overflow-y: scroll;
        left: 11%;
    }
    .filterBox {
        left: 8%;
    }
  }